*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

header{
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../Background.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: white;
    color: black;
}

ul li.active a{
    background-color: white;
    color: black;
}
.logo img{
    float: left;
    width: 80px;
    height: auto;
    margin-top: 10px;
}

.gamelogo img{
    width: 200px;
    height: auto;
    margin-top: 350px;
    margin-left: 20%;
}

.main{
    max-width: 1300px;
    margin: auto;
}

.title{
    position: absolute;
    top: 50%;
    left: 23%;
    transform: translate(-50%-50%);
}

.contact{
    position: absolute;
    top: 48%;
    left: 36%;
    transform: translate(-50%-50%);
}

.title2{
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-50%-50%);
}

.title3{
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%-50%);
}

.title h1{
    color: white;
    font-size: 70px;
}

.title2 h1{
    color: white;
    font-size: 70px;
}

.title3 h1{
    color: white;
    font-size: 70px;
}

.contact h1{
    color: white;
    font-size: 70px;
}

.button{
    position: absolute;
    top: 65%;
    left: 40%;
    transform: translate(-50%-50%);
}

.info{
    padding: 5px;
    position: absolute;
    top: 55%;
    left: 23%;
    color:white;
    font-size: 25;
    border: 1px solid black;
}

.games{
    padding: 5px;
    position: absolute;
    top: 60%;
    left: 50%;
    color: white;
    font-size: 60;
}

.gameinfo{
    padding: 5px;
    position: absolute;
    top: 70%;
    left: 50%;
    color: white;
}

.btn{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    transition: 0.6s ease;
}

.btn:hover{
    background-color: white;
    color: black;
}